{
  "type": "bubble",
  "body": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "text",
        "text": "{{.ID}}",
        "weight": "bold",
        "size": "xl"
      },
      {
        "type": "text",
        "text": "↔️ {{ printf "%.2f" .Distance }} km"
      }
    ]
  },
  "footer": {
    "type": "box",
    "layout": "vertical",
    "spacing": "sm",
    "contents": [
      {
        "type": "button",
        "style": "link",
        "height": "sm",
        "action": {
          "type": "uri",
          "label": "Google Maps",
          "uri": "{{.GoogleMapsURL}}"
        }
      }
    ],
    "flex": 0
  }
}